@font-face {
    font-family: "RFTone";
    src: url("../fonts/RF\ Tone\ Regular.otf") format("OpenType");
    font-display: swap;
    font-style: normal;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
 :after,
 :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

audio,
embed,
img,
object,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
    text-align: left;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

html,
body {
    font-family: RFTone, sans-serif;
}

.container {
    width: 1276px;
    max-width: 100%;
    margin: 0 auto;
}

.primary-topbar {
    margin-top: 60px;
}

.primary-topbar__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.primary-topbar__item:first-child {
    margin-right: 65px;
}

.primary-topbar__item:first-child a {
    font-family: 'RF Tone';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #040827;
    text-decoration: none;
}

.primary-topbar__item:last-child {
    width: 13%;
}

.primary-topbar__item:last-child a {
    font-family: 'RF Tone';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-decoration: none;
}

.inner-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.middle-block {
    width: 80%;
}

.primary-topbar__item a {
    font-family: 'RF Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #808082;
}

.primary-topbar__inner {
    margin: 0 25px;
}


/* block 2 */

.calc-info {
    margin-bottom: 33px;
}

.calc-info-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.calc-info-left {
    margin-top: 168px;
}

.calc-info-right {
    margin-top: 88px;
}

.calc-info-left h1 {
    font-family: 'RF Tone';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #244CCB;
    margin-bottom: 60px;
}

.calc-info-left h1 span {
    color: #000;
}

.calc-form {
    border: 1px solid #000;
    width: 562px;
    height: 841px;
}

.calc-info-steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px;
}

.calc-info-steps p {
    font-family: 'RF Tone';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    margin-top: 15px;
    color: #0C3758;
}

.calc-info-left .bottom-item {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: #040827;
    margin-bottom: 73px;
}

.calc-info-left .more {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #244CCB;
    text-decoration: none;
}

.how-it-work-wrap {
    display: flex;
    width: 100%;
}

.how-it-work-right {
    width: 50%;
}

.how-it-work-left {
    width: 50%;
}

.how-it-work-left h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: #040827;
    margin-bottom: 71px;
}

.how-it-work-left .steps-item:first-child {
    max-width: 435px;
}

.how-it-work-left .steps-item:first-child p {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #0C3758;
}

.how-it-work-left .steps-item:nth-child(2) p {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #0C3758;
}

.how-it-work-left .steps-item .steps-item-inner {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #0C3758;
}

.how-it-work-left .steps-item .steps-item-inner ol {
    list-style: disc;
    padding-left: 34px;
}

.how-it-work-left .steps-item:first-child p span {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #244CCB;
}

.how-it-work-right .how-it-work-right-img {
    height: 916px;
    background-image: url("/img/Mask\ group.png");
}


/* адаптив */

@media (min-width: 1251px) {
    .calc-info::before {
        display: none;
        content: '';
        background-image: url("../img/bg-red.png");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        width: 897px;
        max-width: 100%;
        height: 100%;
    }
}